<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li>
    <a routerLink="login">login</a>
  </li>
  <li>
    <a routerLink="cadastro-escola">Cadastro Escola</a>
  </li>
  <li>
    <a routerLink="cadastro">Cadastro exemplo validação forms</a>
  </li>
  <li>
    <a routerLink="exemplo-rest">Exemplo rest</a>
  </li>
</ul>

<br /><br />

<div class="container">
  <router-outlet></router-outlet>
  <!--app-login></app-login--><hr />
  <!--app-cadastro-usuarios></app-cadastro-usuarios-->

  <!--app-exemplo-rest></app-exemplo-rest-->

</div>

