<p>
  cadastro-escola works!
</p>
<div class="row">
    <form class="col s12">
    <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>      
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Nome</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Sobrenome</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="nome_escola" type="text" class="validate">
          <label for="nome_escola">Nome da escola</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <input id="endereco" type="text" class="validate">
            <label for="endereco">Endereço</label>
          </div>
        </div>
      <div class="row">
        <div class="input-field col s9">
          <input id="numero" type="text" class="validate">
          <label for="numero">Número</label>
        </div>
        <div class="input-field col s3">
          <input id="complemento" type="text" class="validate">
          <label for="complemento">Complemento</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="(11) 123456789" id="telefone" type="text" class="validate">
          <label for="telefone">Telefone</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="(11) 123456789" id="celular" type="text" class="validate">
          <label for="celular">Celular</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <input type="checkbox" id="versaoPaga" />
              <label for="versaoPaga">Versão paga</label>
          </div>
        </div>
      <!--div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
      </div-->
      <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn">Cadastrar</a>
        </div>
      </div>
      
    </form>
  </div>
