<p *ngIf="teste">
  cadastro-escola works!
</p>
<div class="row">
    <form class="col s12" [formGroup]="formSchool" (ngSubmit)="addSchool(addSchool.value)">
        <button (click)="clicked()">Click</button>

    <div class="row">
        <div class="input-field col s12">
          <input formControlName="email" id="email" type="email" class="validate">
          <label for="email">Email</label>
          <div class="formError" *ngIf="!formSchool.controls['email'].valid && formSchool.controls['email'].touched">E-mail inválido!</div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="password" id="password" type="password" class="validate">
          <label for="password">Password</label>
          <div class="formError" *ngIf="!formSchool.controls['password'].valid && formSchool.controls['password'].touched">Digite entre 6 e 18 caracteres</div>
        </div>
      </div>      
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="firstName" id="firstName" type="text" class="validate">
          <label for="first_name">Nome</label>
          <div class="formError" *ngIf="!formSchool.controls['firstName'].valid && formSchool.controls['firstName'].touched">Este campo é obrigatório</div>
        </div>
        <div class="input-field col s6">
          <input formControlName="lastName" id="lastName" type="text" class="validate">
          <label for="last_name">Sobrenome</label>
          <div class="formError" *ngIf="!formSchool.controls['lastName'].valid && formSchool.controls['lastName'].touched">Este campo é obrigatório</div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="nome_escola" type="text" class="validate">
          <label for="nome_escola">Nome da escola</label>
        </div>
        
      </div>
      <div class="row">
          <div class="input-field col s12">
            <input id="endereco" type="text" class="validate">
            <label for="endereco">Endereço</label>
          </div>
        </div>
      <div class="row">
        <div class="input-field col s9">
          <input formControlName="number" id="numero" type="text" class="validate">
          <label for="numero">Número</label>
          <div class="formError" *ngIf="!formSchool.controls['number'].valid && formSchool.controls['number'].touched">Somente valores numéricos</div>
        </div>
        <div class="input-field col s3">
          <input id="complemento" type="text" class="validate">
          <label for="complemento">Complemento</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="telefone" placeholder="(11) 1234-56789" id="telefone txttelefone" type="text" class="validate">
          <label for="telefone">Telefone</label>
          <div class="formError" *ngIf="!formSchool.controls['telefone'].valid && formSchool.controls['telefone'].touched">Preencha esse campo corretamente</div>
        </div>
        <div class="input-field col s6">
          <input placeholder="(11) 1234-56789" id="celular" type="text" class="validate">
          <label for="celular">Celular</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <input type="checkbox" id="versaoPaga" />
              <label for="versaoPaga">Versão paga</label>
          </div>
        </div>
      <!--div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
      </div-->
      <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn">Cadastrar</a>
        </div>
      </div>
      
    </form>
  </div>
  
